// BACKGROUND COLOR
$primary-bg-color-light: #ffffffe5;
$primary-bg-color-dark: #1d1d1f;

// PRIMARY BG&C
$primary-color-light: #ebd03be5;
$primary-c-color-light: #242424e5;
$primary-color-dark: #ebd03be5;
$primary-c-color-dark: #242424e5;
$primary-color-hover-light: #e2c628e5;
$primary-color-hover-dark: #e2c628e5;
$primary-c-color-hover-light: #131313e5;
$primary-c-color-hover-dark: #131313e5;
// SECONDARY BG&C
$secondary-color-light: #ebd03be5;
$secondary-c-color-light: #242424e5;
$secondary-color-dark: #ebd03be5;
$secondary-c-color-dark: #242424e5;
$secondary-color-hover-light: #e2c628e5;
$secondary-color-hover-dark: #e2c628e5;
$secondary-c-color-hover-light: #131313e5;
$secondary-c-color-hover-dark: #131313e5;

// TEXT COLOR
$primary-text-color-light: #252525;
$primary-text-color-dark: #f8f8f8;

// HEADER BACKGROUND COLOR
$primary-header-bg-color-light: #f0efef;
$primary-header-bg-color-dark: #272729;

// POST BACKGROUND COLOR
$primary-post-bg-color-light: #f7f7f7;
$primary-post-bg-color-dark: #272729;

// DATE COLOR
$primary-date-color-light: #777777;
$primary-date-color-dark: #a3a3a3;

// HEADER ICONS COLOR
$primary-icon-color-light: #222222;
$primary-icon-color-dark: #dfdfdf;
// HEADER ICONS COLOR HOVER
$primary-icon-hover-color-light: #141414;
$primary-icon-hover-color-dark: #eeeded;

// AUTH BTNS
$auth-btn-bg-color-light: #e7bd48;
$auth-btn-bg-color-dark: #e7bd48;
$auth-btn-text-color-light: #272729;
$auth-btn-text-color-dark: #1d1d1f;
$auth-btn-bg-hover-color-light: #cca539;
$auth-btn-bg-hover-color-dark: #cca539;

// LIKED
$liked-color: #f30f0f;
$alert-circle: #f30f0f;

// BORDER
$border-color-light: #e7bd48;
$border-color-dark: #e7bd48;

$opacity-10: rgba(0, 0, 0, 0.08);

// // HEADER BORDER COLOR
// $primary-border-color-light: #dfdfdf;
// $primary-border-color-dark: #424242;

// // BUTTON BORDER COLOR
// $primary-button-border-color-light: #dfdfdf;
// $primary-button-border-color-dark: #424242;

// // BUTTON BORDER HOVER COLOR
// $primary-button-border-hover-color-light: #c0c0c0;
// $primary-button-border-hover-color-dark: #5f5f5f;

// // LETTERS FORM BORDER COLOR
// $primary-letter-border-color-light: #d3d6da;
// $primary-letter-border-color-dark: #3a3a3c;

// // LETTERS FORM BORDER COLOR FILLED
// $primary-letter-border-color-filled-light: #878a8c;
// $primary-letter-border-color-filled-dark: #565758;

// // LETTERS FORM KEY BACKGROUND COLOR
// $primary-letter-key-bg-color-light: #d3d6da;
// $primary-letter-key-bg-color-dark: #818384;

// // SLIDER COLOR
// $slider-color: #4ed88c;

// // INCORRECT LETTER
// $primary-incorrect-letter-color-light: #787c7e;
// $primary-incorrect-letter-color-dark: #3a3a3c;

// // INCORRECT POSITION LETTER
// $primary-incorrect-position-color-light: #c9b458;
// $primary-incorrect-position-color-dark: #b59f3b;

// // CORRECT POSITION LETTER
// $primary-correct-position-color-light: #6aaa64;
// $primary-correct-position-color-dark: #538d4e;

// // OPACITYS
// $opacity-50: rgba(0, 0, 0, 0.5);
