//
@use "../../styles/abstract/mixins" as *;

.container {
  padding: 1rem;
  margin-left: 2.6rem;
  width: 100%;
  @include flexRow;
  gap: 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  min-height: 6rem;
  border-left: 0.2rem solid;

  textarea {
    border: none;
    background: none;
    flex: 1;
    align-self: stretch;
    min-height: 6rem;
    max-width: 100rem;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 1;
  }
  textarea:focus {
    outline: none;
  }

  button {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
    font-size: 2.4rem;
    @include flexRow;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
