//

@use "../../styles/abstract/mixins" as *;
@use "../../styles/abstract/colors" as *;

.container {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 100%;
  border-radius: 1rem;
  overflow: hidden;

  .active {
    color: #f0d642 !important;
  }

  .icon__box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-radius: 1rem;
    @include flexRow;
    cursor: pointer;
    transition: all 0.3s ease;

    .icon {
      font-size: 2.8rem;
    }

    p {
      background-color: $alert-circle;
      font-size: 1.2rem;
      @include flexRow;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 5rem;
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
    }
  }

  .icon__box:hover {
    background-color: $primary-bg-color-dark;
  }
}
