//
@use "../../styles/abstract/mixins" as *;

.container {
  width: 20rem;
  @include flexRow;
  justify-content: flex-end;

  .inner__box {
    @include flexRow;
    gap: 1rem;
  }

  .user {
    margin-left: 1rem;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 20rem;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
