//
@use "../../styles/abstract/mixins" as *;

.container {
  @include flexColumn;
  gap: 2rem;
  width: 100%;

  .header {
    width: 100%;
    @include flexRow;

    h2 {
      font-size: 2rem;
      text-align: left;
      font-weight: 600;
      letter-spacing: 0.06rem;
    }

    .horizontal {
      flex: 1;
      margin-left: 1rem;
      height: 0.2rem;
      border-radius: 1rem;
    }
  }

  .notifications__container {
    width: 100%;
    @include flexColumn;
    gap: 1rem;
  }
}
