//
@use "../../styles/abstract/mixins" as *;

.container {
  width: 100%;
  @include flexColumn;
  align-items: flex-start;

  input {
    width: 100%;
    border: none;
    border: 0.4rem solid;
    border-radius: 1.2rem;
    height: 5rem;
    padding: 0 2rem;
    font-size: 1.6rem;
  }

  p {
    padding-left: 1rem;
    font-size: 1.4rem;
  }
}
